@inherits umbraco.MacroEngines.DynamicNodeContext

@{ var numberOfItems = 10; }
<ul>
    @foreach (var item in @Model.Children.Where("not Visible"))
    {
        if (item.Name == "Servicemenu")
        {
            foreach (var item2 in item.Children.Where("Visible"))
            {
                <li><a href="@item2.Url" title="@item2.Name">@item2.Name</a></li>
            }
        } 
    }
</ul>